<div>
  <%= @game.player1.name %> vs. <%= @game.player2.name %>
</div>
<div>
  <%= @game.player_defense.name %>: <%= @game.player_defense.health %>HP
</div>
<div>
  <%= @game.player_attack.name %>: <%= @game.player_attack.health %>HP
</div>

<div>
  <%= @game.player_attack.name %>'s turn!
</div>

<div>
  <form action = "/attack" method = "get">
    <input id='attack' type = 'submit' value = 'Attack!'/>
  </form>
</div>
