<div>
  Player 1: <%=@game.player_1.name%> vs Player 2: <%=@game.player_2.name%>
</div>

<div>
  <%=@game.player_2.name%> HP: <%=@game.player_2.hp %>
</div>

<div>
  <%=@game.player_1.name %> HP: <%= @game.player_1.hp %>

<form action="/fight" method = "get">
  <input type = "submit" value = "Attack!" id = 'attack'>
</form>
